<div fxLayout="column " style="background:whitesmoke;" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-horizontal-stepper [linear]="true" stepper style="height:100vh;background:whitesmoke">
    <mat-step label="Policies" [stepControl]="firstFormGroup">
      <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <mat-card>
            <mat-card-content>
              <form [formGroup]="firstFormGroup">
                <div fxLayout="column wrap" style="width:100%" fxLayoutGap="20px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:16px;font-weight:bold">
                MEMBER NAME : {{memberName || &apos;&apos;}}</span></div>
                  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <mat-checkbox [checked]="false" [required]="true" formControlName="policyHolderCheck"></mat-checkbox><span style="font-size:14px;color:#828C9F">
                Kindly confirm if member name and patient name is same.</span>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Policy *</span>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                      <mat-select formControlName="policySelected" placeholder="Select Policy" [required]="true">
                        <ng-template ngFor let-option [ngForOf]="policies" let-i="index">
                          <mat-option [value]="option">{{option.name}}</mat-option>
                        </ng-template>
                      </mat-select>

                    </mat-form-field>
                  </div><button mat-raised-button class="button-primary" matStepperNext (click)="policyNext()">Next</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-step>
    <mat-step label="Benefits" [stepControl]="secondFormGroup">
      <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <mat-card>
            <mat-card-content>
              <form [formGroup]="secondFormGroup">
                <div fxLayout="column wrap" fxLayoutGap="20px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Benefit *</span>
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                      <mat-select formControlName="benefits" placeholder="Select Benefit" [required]="true">
                        <ng-template ngFor let-option [ngForOf]="benefits" let-i="index">
                          <mat-option [value]="option">{{option.name}}</mat-option>
                        </ng-template>
                      </mat-select>

                    </mat-form-field>
                  </div><button mat-raised-button class="button-primary" (click)="viewClaims()">View Existing Claims</button>
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="viewClaim">
                    <div>
                      <bh-claimsview></bh-claimsview>
                    </div>
                  </div><button mat-raised-button class="button-primary" matStepperNext (click)="benefitnext()">Next</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-step>
    <mat-step label="Claims Submission">
      <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
          <mat-card>
            <mat-card-content>
              <form [formGroup]="thirdFormGroup">
                <div fxLayout="column wrap" fxLayoutGap="20px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Diagnosis *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="diagnosis" placeholder="Select Diagnosis" [required]="true" multiple>
                          <ng-template ngFor let-option [ngForOf]="diagnosis" let-i="index">
                            <mat-option [value]="option">{{option.Description}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Procedure *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="procedure" placeholder="Select Procedure" [required]="true" multiple>
                          <ng-template ngFor let-option [ngForOf]="procedure" let-i="index">
                            <mat-option [value]="option">{{option.Description}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Consulation Start Date *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;">
                        <input matInput placeholder="Start Date" [matDatepicker]="picker" formControlName="consultationFromDate" [required]="true" [disabled]="false">
                        <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
                        <mat-datepicker #picker [disabled]="false"></mat-datepicker>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Consulation End Date *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;">
                        <input matInput placeholder="End Date" [matDatepicker]="picker1" formControlName="consultationToDate" [required]="true" [disabled]="false">
                        <mat-datepicker-toggle matSuffix [for]="picker1" disabled="false"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Doctor *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="doctor" placeholder="Select Doctor" [required]="true">
                          <ng-template ngFor let-option [ngForOf]="doctors" let-i="index">
                            <mat-option [value]="option">{{option.Name}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Sign and Symptom *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="symptom" placeholder="Select Symptom" [required]="true">
                          <ng-template ngFor let-option [ngForOf]="symptoms" let-i="index">
                            <mat-option [value]="option">{{option}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Symptom Date *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;">
                        <input matInput placeholder="Date of Symptom" [matDatepicker]="picker2" formControlName="dateOfSymptom" [required]="true" [disabled]="false">
                        <mat-datepicker-toggle matSuffix [for]="picker2" disabled="false"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Select Treatment *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="treatment" placeholder="Select Treatment" [required]="true" multiple (selectionChange)="attributesArray()">
                          <ng-template ngFor let-option [ngForOf]="treatments" let-i="index">
                            <mat-option [value]="option">{{option.Description}}</mat-option>
                          </ng-template>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let treatment of thirdFormGroup.value.treatment; let ind =index"><span style="font-size:14px;color:#828C9F">
                      {{treatment.Description || &apos;null&apos;}}</span>
                      <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div fxLayout="row wrap" fxFlex="30" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Item</span>
                            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                                <input matInput placeholder="Input" [required]="true" [ngModelOptions]="{standalone: true}" [formControl]="thirdFormGroup.controls.attributes.controls[ind][&apos;controls&apos;][&apos;item&apos;]">

                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row wrap" fxFlex="30" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Procedure</span>
                            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                                <input matInput placeholder="Input" [required]="true" [ngModelOptions]="{standalone: true}" [formControl]="thirdFormGroup.controls.attributes.controls[ind][&apos;controls&apos;][&apos;procedure&apos;]">

                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row wrap" fxFlex="30" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Amount</span>
                            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                                <input matInput placeholder="Input" [required]="true" [ngModelOptions]="{standalone: true}" [formControl]="thirdFormGroup.controls.attributes.controls[ind][&apos;controls&apos;][&apos;amount&apos;]">

                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                other Insurance *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="otherInsurance" placeholder="Other Insurance" [required]="true">
                          <mat-option [value]="&apos;Yes&apos;" disabled="false">Yes</mat-option>
                          <mat-option [value]="&apos;No&apos;" disabled="false">No</mat-option>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Already Settled *</span>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select formControlName="settled" placeholder="Already Settled" [required]="true">
                          <mat-option [value]="&apos;Yes&apos;" disabled="false">Yes</mat-option>
                          <mat-option [value]="&apos;No&apos;" disabled="false">No</mat-option>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Documents Upload *</span>
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                        <mat-select placeholder="Select Document Type" [(ngModel)]="documentName" [required]="true" [ngModelOptions]="{standalone: true}">
                          <mat-option [value]="&apos;Reciept with amount only&apos;" disabled="false">Reciept with amount only</mat-option>
                          <mat-option [value]="&apos;Others&apos;" disabled="false">Others</mat-option>
                          <mat-option [value]="&apos;Medical Certificate&apos;" disabled="false">Medical Certificate</mat-option>
                          <mat-option [value]="&apos;Medical Report&apos;" disabled="false">Medical Report</mat-option>
                          <mat-option [value]="&apos;Referral Letter&apos;" disabled="false">Referral Letter</mat-option>
                          <mat-option [value]="&apos;Reciept with Diagnosis&apos;" disabled="false">Reciept with Diagnosis</mat-option>
                        </mat-select>

                      </mat-form-field><button mat-raised-button style="max-height:50px" (click)="upload.click()">upload Document</button>
                    </div>
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <div>
                        <input type="file" [hidden]="true" #upload (change)="handleFileChange($event,documentName)"></div>
                    </div>
                  </div>
                  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="documentArr.length">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let document of documentArr ; let i = index">
                        <mat-card style="margin-bottom:2px">
                          <mat-card-actions style="padding-bottom:8px">
                            <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                              <div fxLayout="row " fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                                <div fxLayout="row wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/Icon.svg"></div>
                                <div fxLayout="row wrap" style="width:100%" fxFlex="55" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><span style="font-size:14px" class="hide-filename">
                                  {{document.name}}</span></div>
                                <div fxLayout="row wrap" fxFlex="20" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/trash-2.svg" (click)="removeDocument(i)"></div>
                              </div>
                            </div>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                    </div>
                  </div><button mat-raised-button class="button-primary" matStepperNext (click)="Submit()">Submit</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>