<div fxLayout="column wrap" style="padding:20px" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="20px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              CLAIMS RECORD REVIEW</div>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let data of datas; let ind = index">
              <div fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  <span style="font-weight:bolder"> Voucher No : </span> <span style="cursor:pointer;"> {{data.voucherNo}} </span></div>
                <div>
                  <span style="font-weight:bolder">Status :</span><span style="cursor:pointer;color:blue" (click)="VoucherDetails(data)"> {{data.status}}</span></div>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" fxFlex="25" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:14px;color:#828C9F">
                Appeal Claims</span>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                  <mat-select placeholder="Appeal Claim" [(ngModel)]="appealClaim" [required]="true">
                    <mat-option [value]="&apos;Yes&apos;" disabled="false">Yes</mat-option>
                    <mat-option [value]="&apos;No&apos;" disabled="false">No</mat-option>
                  </mat-select>

                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="voucherData">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  Voucher Details</div>
              </div>
            </div>
            <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div>
                      <span style="font-weight:bolder"> Voucher No : </span> <span style="cursor:pointer;"> {{voucherData.voucherNo || &apos;&apos;}} </span></div>
                    <div>
                      <span style="font-weight:bolder">Status :</span><span> {{voucherData.status || &apos;&apos;}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <bh-voucherdetails></bh-voucherdetails>
      </div>
    </div>
  </div>
</div>