<div fxLayout="column wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <mat-select placeholder="Select Document Type" [(ngModel)]="documentName" [required]="true">
          <mat-option [value]="&apos;Reciept with amount only&apos;" disabled="false">Reciept with amount only</mat-option>
          <mat-option [value]="&apos;Others&apos;" disabled="false">Others</mat-option>
          <mat-option [value]="&apos;Medical Certificate&apos;" disabled="false">Medical Certificate</mat-option>
          <mat-option [value]="&apos;Medical Report&apos;" disabled="false">Medical Report</mat-option>
          <mat-option [value]="&apos;Referral Letter&apos;" disabled="false">Referral Letter</mat-option>
          <mat-option [value]="&apos;Reciept with Diagnosis&apos;" disabled="false">Reciept with Diagnosis</mat-option>
        </mat-select>

      </mat-form-field><button mat-raised-button style="max-height:50px" (click)="upload.click()">upload Document</button>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        <input type="file" [hidden]="true" #upload (change)="handleFileChange($event,documentName)"></div>
    </div>
  </div>
  <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="documentArr.length">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let document of documentArr ; let i = index">
        <mat-card style="margin-bottom:2px">
          <mat-card-actions style="padding-bottom:8px">
            <div fxLayout="column wrap" style="width:100%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row " fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/Icon.svg"></div>
                <div fxLayout="row wrap" style="width:100%" fxFlex="55" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><span style="font-size:14px" class="hide-filename">
                  {{document.name}}</span></div>
                <div fxLayout="row wrap" fxFlex="20" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Icons/trash-2.svg" (click)="removeDocument(i)"></div>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>