/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins');

.body{
    font-family: Poppins, 'sans-serif';
}

.stepper-block {
    border-radius: 30px 30px 0px 0px;
    background-color: whitesmoke;
    padding: 20px;
    padding-top: 2rem;
}

.button-primary {
    background: #0079c7;
    color: white;
    padding:2rem
}

.breadcrumb-row {
  z-index: 2;
  width: 100%;
  padding: 0 5em;
}

.breadcrumb {
  width: 100%;
  font-size: 10px;
  font-weight: 700;
  // letter-spacing: 1px;
  color: #ffffff;
  height: 30px;
  padding: 0px !important;
}
.breadcrumb div {
  float: left;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
}